@use 'variables'

*
    margin: 0
    padding: 0
    box-sizing: border-box

body
    max-width: 1200px
    height: 100vh
    margin: auto
    display: flex
    flex-direction: column
    gap: 100px
    align-items: center
    justify-content: center
    padding: 20px
    font-family: 'Spartan'
    background-image: url('../images/bg-pattern-top-desktop.svg'), url('../images/bg-pattern-bottom-desktop.svg')
    background-repeat: none
    background-size: cover
    background-position: bottom
    a
        text-decoration: none
        color: inherit
    p, span
        font-size: 15px

.header
    width: 100%
    display: flex
    justify-content: space-between
    &-title
        font-size: 2.6em
        color: variables.$primary-color

    &-paragraph
        color: variables.$primary-color
    
    &-left
        max-width: 460px

        display: flex
        flex-direction: column
        gap: 30px

    &-right
            display: grid
            grid-template-columns: repeat(5, .3fr)
            grid-template-rows: repeat(3, 1fr)
    &-stars
        width: 400px
        height: 50px
        margin-top: 5px
        padding: 1rem
        border-radius: 18px
        display: flex
        gap: 5px
        flex-direction: row
        align-items: center
        font-weight: bold
        color: variables.$primary-color
        background-color: variables.$light-magenta

        .rated-by
            margin-left: 10px

main
    width: 100%
    display: grid
    grid-template-rows: repeat(5, .13fr)
    grid-template-columns: repeat(3, 1fr)
    // gap: 10px
    // justify-content: space-around

    .card
        width: 360px
        aspect-ratio: 1.6/1
        padding: 12px
        display: flex
        flex-direction: column
        gap: 25px
        color: variables.$light-magenta
        border-radius: 5px
        background-color: variables.$primary-color
        &-header
            height: fit-content
            display: flex
            gap: 20px
            .card-img
                width: 50px
                border-radius: 50%

            &-title
                display: flex
                flex-direction: column
                gap: 5px
                justify-content: flex-end
                &-profile-name
                    font-weight: bold
                .card-subtitle
                    color: variables.$secondary-color
    
    #card1
        grid-row-start: 1
        grid-row-end: 3
    #card2
        grid-row-start: 2
        grid-row-end: 4
        grid-column-end: 3
    #card3
        grid-row-start: 3
        grid-row-end: 5
        grid-column-end: 4


.attribution
    width: 100%
    font-size: 12px
    text-align: center
    position: fixed
    bottom: 10px
    a
        color: hsl(228, 45%, 44%)
