@use 'variables'

*
    margin: 0
    padding: 0

body
    font-family: 'Spartan'
    a
        text-decoration: none
        color: inherit
    p, span
        font-size: 15px

header
    display: flex
    justify-content: space-between

main
    display: flex
    justify-content: space-around
    align-items: center

    .card
        background-color: variables.$primary-color

.attribution
    font-size: 12px
    text-align: center

    a
        color: hsl(228, 45%, 44%)
